.itemImage {
    width: 12vw;
    height: 13vw;
    display: block;
    margin: auto;
    /* width: 70%; */
    margin-bottom: 1vw;
}

.itemCard {
    border: 1px solid blue;
    border-radius: 4px;
    width: 20vw;
    padding: 1vw 2vw;
    transition: transform .3s ease-in-out;
    color: rgb(89, 89, 231);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.itemCard:hover {
    transform: scale(1.04);
}

.lineBreak {
    opacity: 30%;
    margin-bottom: 1vw;
}
.category {
    margin-bottom: 1.5vw;
}
.title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 3vw;
    margin-bottom: 2vw;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.editQtyContainer {
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
}
.editQtyContainer button {
    background-color: rgb(238, 238, 238);
    border: none;
    border-radius: 3px;
    width: 24px;
    height: 30px;
    transition: 0.2s all;
}
.editQtyContainer button:hover {
    background-color: rgb(207, 207, 207);
}
.editQtyContainer button:active {
    transform: scale(0.98);
}
.inputQty {
    display: flex;
    text-align: center;
    width: 4vw;
    border: none;
    background-color: rgb(159, 159, 159);
    border-radius: 2px;
    line-height: 2vw;
    /* height: 2vw; */
}
.addToCartButton {
    width: 100%;
    height: 3vw;
    border-radius: 6px;
    border: none;
    background-color: rgb(89, 89, 228);
    cursor: pointer;
    transition: 0.2s all;
}
.addToCartButton:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.addToCartButton:hover {
    background-color: rgb(176, 176, 237);
}
.price {
    margin-bottom: 0.5vw;
    font-weight: bold;
}