/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}
nav {
  display: grid;
  grid-template-columns: 2fr 4fr 0.4fr;
  align-items: center;
  padding: 1vw 1vw;
  /* background-color: rgb(125, 169, 234); */
  background: #554af0;
  background: linear-gradient(90deg, rgba(85, 74, 240, 1) 0%, rgba(73, 73, 201, 1) 35%, rgba(255, 0, 89, 1) 100%);
}
.pages {
  display: flex;
  gap: 4vw;
}
* {
  /* outline: 2px dotted red; */
}
.link {
  text-decoration: none;
  color: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.itemImage {
  width: 10vw;
  height: 10;
}
.itemCard {
  border: 3px solid blue;
  width: 20vw;
  padding: 1vw 2vw;
}
.lineBreak {
  opacity: 40%;
}
.itemContainer {
  padding: 2vw 2vw;
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}