/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}
nav {
  display: grid;
  grid-template-columns: 2fr 4fr 0.4fr;
  align-items: center;
  padding: 1vw 1vw;
  /* background-color: rgb(125, 169, 234); */
  background: #554af0;
  background: linear-gradient(
    90deg,
    rgba(85, 74, 240, 1) 0%,
    rgba(73, 73, 201, 1) 35%,
    rgba(255, 0, 89, 1) 100%
  );
}
.pages {
  display: flex;
  gap: 4vw;
}

.link {
  text-decoration: none;
  color: black;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.link {
  display: flex;
  gap: 6px;
  align-items: center;
}
.circle {
  width: 2vw;
  height: 2vw;
  border: 1px rgb(14, 14, 14);
  background-color: rgb(213, 93, 93);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.1vw;
}

.button {
  border: none;
  color: white;
  background: none;
  border-radius: 4px;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: rgb(184, 115, 153);
  color: #554af0;
}
nav {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2vw;
  color: white;
}
.link {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2vw;
  color: white;
}
.cartButton {
  width: 80px;
  height: 3.4vw;
  background: none;
  border: none;
}
* {
  /* outline: 0.4px dotted black; */
}