/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}
nav {
  display: grid;
  grid-template-columns: 2fr 4fr 0.4fr;
  align-items: center;
  padding: 1vw 1vw;
  /* background-color: rgb(125, 169, 234); */
  background: #554af0;
  background: linear-gradient(
    90deg,
    rgba(85, 74, 240, 1) 0%,
    rgba(73, 73, 201, 1) 35%,
    rgba(255, 0, 89, 1) 100%
  );
}
.pages {
  display: flex;
  gap: 4vw;
}
* {
  /* outline: 0.4px dotted black; */
}
.link {
  text-decoration: none;
  color: black;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.itemImage {
  width: 12vw;
  height: 13vw;
}
.itemCard {
  border: 3px solid blue;
  width: 20vw;
  padding: 1vw 2vw;
}
.lineBreak {
  opacity: 40%;
}
.itemContainer {
  padding: 2vw 2vw;
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.searchWrapper {
  margin: 2vw 2vw;
  position: relative;
}
.searchWrapper .searchIcon {
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
}

.searchQuery {
  padding-left: 20px;
}

.filterContainer {
  display: flex;
  justify-content: space-between;
}
#filterCategory {
  height: 2vw;
  margin-top: 1.7vw;
  margin-right: 5vw;
}

.cartItem {
  border: 2px solid black;
}
.cartImage {
  height: 5vw;
  width: 5vw;
}

.cartPage {
  padding: 2vw 2vw;
}

.cartButton {
  width: 80px;
  height: 25px;
}
.link {
  display: flex;
  gap: 6px;
  align-items: center;
}
.circle {
  width: 20px;
  height: 20px;
  border: 1px red;
  background-color: #554af0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}